[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exceptiongroup = "*"
jinja2 = "*"
langgraph = "*"
langchain = "*"
langchain-openai = "*"
py-dependency-injection = ">=1.0.0b3"
python-dateutil = "*"
python-dotenv = "*"
pyyaml = "*"
prompt-toolkit = "*"
rich = "*"
tree-sitter = "==0.21.1"
tree-sitter-languages = "*"
typing-extensions = "==4.13.2"

[dev-packages]
pytest = "*"
pyfakefs = "*"
pipfile-requirements = "*"
flake8 = "*"

[requires]
python_version = "3.9"
