[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
rich = "*"
prompt-toolkit = "*"
langgraph = "*"
langchain = "*"
langchain-openai = "*"
jinja2 = "*"
python-dateutil = "*"
py-dependency-injection = "*"
tree-sitter = "==0.20.1"
tree-sitter-languages = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
pyfakefs = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
