namespace {{ namespace }}
{
    public class {{ value_object_name }}
    {
        {% for p in properties %}
        public {{ p.type }} {{ p.name }} { get; set; }
        {% endfor %}

        public {{ value_object_name }}({% for p in properties %}{{ p.type }} {{ p.name|lower }}{% if not loop.last %}, {% endif %}{% endfor %})
        {
            {% for p in properties %}
            {{ p.name }} = {{ p.name|lower }};
            {% endfor %}
        }
    }
}
